<h1>Hello, Rails!</h1>
<p>Harris Biomedical Scheduling Software</p>
<div class="py-10 lg:py-20 px-4 border-b border-grey-light mb-4 text-indigo-darker">
  <div class="container m-auto text-center">
    <%= link_to "Schedule a new event", new_event_path, class:"btn btn-primary my-3" %>
  </div>
</div>
</div>
<div class="simple-calendar">
	<%= month_calendar do |date| %>
  		<%= date %>
	<% end %>
</div>	