<head>
	<h1>Harris Biomedical Scheduling Software</h1>
</head>

<body>
  <div class="py-10 lg:py-20 px-4 border-b border-grey-light mb-4 text-indigo-darker">
    <div class="container m-auto text-center">
      <%= link_to "Schedule a new event", new_event_path, class:"btn btn-primary my-3" %>
    </div>
  </div>
  <h2> Calendar </h2>
  <div id="simple-calendar">
	<%= month_calendar  do |date| %>
  		<%= date %>
	<% end %>
  </div>	
</body>
