<head>
	<h1>Harris Biomedical Scheduling Software</h1>
	<%= stylesheet_link_tag "welcome" %>
</head>

<body>
  <h2> Calendar </h2>
  <%= month_calendar  do |date| %>
      <%= date.day %>
  <% end %>
  <br></br>
  <%= link_to "Schedule a new event", new_event_path, class:"btn btn-primary my-3" %>
  
</body>
