// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.calendar-heading {
     text-align: center;
  }

.calendar-title {
  font-size: medium;

}

.simple-calendar {
  width: 40%;
  float: left;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    background: #b6d1cd;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2x solid rgb(0, 0, 0);
    border-top: 2px none rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
    background: #ffffff;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}

